In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [6]:
type(data)
data_arry = np.array(data)
type(data_arry)
data_arry

array([-0.2047,  0.4789, -0.5194, -0.5557,  1.9658,  1.3934,  0.0929])

## 1. 변수 참조

In [8]:
a = [1, 2, 3]
a

[1, 2, 3]

In [9]:
b = a
b

[1, 2, 3]

In [10]:
a.append(4)
b

[1, 2, 3, 4]

## 2. 함수 정의와 호출

In [11]:
def append_element(some_list, element):
    some_list.append(element)

In [16]:
data = [1, 2, 3]
element  = {1: "one", 2:"two"}
append_element(data, element)
data

[1, 2, 3, {1: 'one', 2: 'two'}]

## 3. 내장함수 : type()

In [18]:
a = 5
type(a)
a = "foo"
type(a)

str

## 4. 형변환

In [19]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [20]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

## 5. 내장함수 : isinstance()

In [23]:
a = 5
isinstance(a, int)

True

In [24]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [25]:
a = 5; b = 4.5
isinstance(a, (int, float))
# isinstance(b, (int, float))

True

## 6.내장함수 : iter()

In [34]:
?iter

Docstring:
iter(iterable) -> iterator
iter(callable, sentinel) -> iterator

Get an iterator from an object.  In the first form, the argument must
supply its own iterator, or be a sequence.
In the second form, the callable is called until it returns the sentinel.
Type:      builtin_function_or_method

In [35]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [38]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [17]:
5 - 7
12 + 21.5
5 <= 2

## 7. 예약어 
* is
* is not

In [44]:
a = [1, 2, 3]
a
b = a
c = list(a)
c
a is b
a is not c

True

In [45]:
a == c

True

## 8. None 
* null의 객체

In [48]:
a = None
print(a)
a is None

None

True

## 9. list 자료형
* mutable 자료형
* 수정, 삭제, 추가 연산 가능
* 조회 : 인덱싱
* 추출 : 슬라이싱

In [49]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

## 10. tuple 자료형
* immutable 자료형
* 조회 : 인덱싱
* 추출 : 슬라이싱

In [50]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

## 11. str 문자열 자료형
* immutable
* 조회 : 인덱싱
* 추출  : 슬라이싱
* + 연산자
* * 연산자
* str()
* str.count()
* str.replace()
* str.format()
* str.encode()

In [51]:
c = """
This is a longer string that
spans multiple lines
"""

In [28]:
c.count("\n")

In [52]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [53]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [54]:
a

'this is a string'

In [55]:
a = 5.6
s = str(a)
print(s)

5.6

In [56]:
s = "python"
list(s)
s[:3]

'pyt'

In [57]:
s = "12\\34"
print(s)

12\34

In [35]:
s = r"this\has\no\special\characters"
s

In [58]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [59]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [60]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [39]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [61]:
val = "español"
val

'español'

In [63]:
val_utf8 = val.encode("utf-8")
print(val_utf8)
type(val_utf8)

b'espa\xc3\xb1ol'

bytes

In [64]:
val_utf8.decode("utf-8")

'español'

In [67]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

## 11. Bool
* not

In [68]:
True and True
False or True

True

In [69]:
int(False)
int(True)

1

In [70]:
a = True
b = False
not a
not b

True

In [71]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [72]:
a = None
a is None
b = 5
b is not None

True

## 13. datetime 
* 시간, 날짜 처리
* dt.date()
* dt.time()
* dt.strftime()
* dt.strptime()
* dt.day
* dt.minute
* dt.timedelta

In [75]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt
dt.day
dt.minute

30

In [77]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [78]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [79]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [80]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [81]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [85]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [87]:
dt
dt + delta
type(dt + delta)

datetime.datetime

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

## 15. 내장함수 : range()
* list(range())
* for i in range():

In [88]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [90]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [92]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [94]:
total = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668